In [11]:
import pandas as pd
import cv2
import os
dataframe = pd.read_csv("E:/Yolo_model_design/raw_data.csv")

In [12]:
dataframe.head(5)

         path  xmin  ymin  xmax  ymax         label
0  file_0.jpg    79   105   109   142  without_mask
1  file_0.jpg   185   100   226   144     with_mask
2  file_0.jpg   325    90   360   141  without_mask
3  file_1.jpg   321    34   354    69     with_mask
4  file_1.jpg   224    38   261    73     with_mask

In [13]:
def convert(size, box):
    dw = 1./size[0]
    dh = 1./size[1]
    x = (box[0] + box[1])/2.0
    y = (box[2] + box[3])/2.0
    w = box[1] - box[0]
    h = box[3] - box[2]
    x = x*dw
    w = w*dw
    y = y*dh
    h = h*dh
    return (round(x,4),round(y,4),round(w,4),round(h,4))

In [15]:
def convert(size, box):
    return (box[0],box[1],box[2],box[3])

In [16]:
dataframe['label'] = dataframe['label'].apply(lambda x: 0 if x=='without_mask' else 1 )

In [17]:
dataframe.head(5)

         path  xmin  ymin  xmax  ymax  label
0  file_0.jpg    79   105   109   142      0
1  file_0.jpg   185   100   226   144      1
2  file_0.jpg   325    90   360   141      0
3  file_1.jpg   321    34   354    69      1
4  file_1.jpg   224    38   261    73      1

In [18]:
count = 0
final_list = []
for i in os.listdir('E:/Yolo_model_design/raw_images'):
    lis = []
    df = dataframe[dataframe.path==i]
    image = cv2.imread(os.path.join('E:/Yolo_model_design/raw_images',i))
    height = image.shape[0]
    width = image.shape[1]
    size=[width,height]
    lis.append(i)
    lis.append(' ')
    for index,row in df.iterrows() :
        box = []
        xmin = row.xmin
        ymin = row.ymin
        xmax = row.xmax
        ymax = row.ymax
        box= [xmin,xmax,ymin,ymax]
        x,y,w,h = convert(size, box)
        row.label
        lis.append(str(x)+',')
        lis.append(str(y)+',')
        lis.append(str(w)+',')
        lis.append(str(h)+',')
        lis.append(str(row.label))
        lis.append(' ')
    q=''.join(lis)
    final_list.append(q)

In [19]:
with open('final_list.txt', 'w') as f:
    for item in final_list:
        f.write("%s\n" % item)

In [ ]:
im= cv2.imread('E:/Yolo_model_design/raw_images' + img_path)
w= int(im.size[0])
h= int(im.size[1])


print(xmin, xmax, ymin, ymax) #define your x,y coordinates
b = (xmin, xmax, ymin, ymax)
bb = convert((w,h), b)

df.to_csv('data/Anno/annotation_w-o_atr.csv', index=False)